@import "../../style.css";

/* Modo nocturno */
body.dark-theme .cardItemList-mode,
body.dark-theme .cardItemBlock-mode {
  background-color: var(--background-color-dark-mode-navAndCard);
  border-color: var(--color-light-yellow);
}

body.dark-theme .cardItemList-mode:hover,
body.dark-theme .cardItemBlock-mode:hover {
  background-color: var(--color-dark-orange);
}

body.dark-theme .pkmnNumber,
body.dark-theme .pkmnName {
  color: var(--color-white);
}

.pkmnImage {
  height: 90px;
  width: 90px;
}

.pkball-icon-off {
  display: none;
}

.pkmnitem {
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-weight: 500;
  gap: 64px;
  width: 240px;
}

.pkmnNumber {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-black);
}

.pkmnName {
  text-transform: capitalize;
  font-size: 20px;
  color: var(--color-black);
}

.iconFav {
  padding: 20px;
}

.iconFav i {
  font-size: 32px;
}

.flexStats {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  justify-items: start;
  gap: 10px;
}

.pkmnStatList-mode,
.pkmnResultsList-mode {
  margin: 0px;
}

/* formato de lista y bloqque */

.wrapList-mode {
  display: grid;
  grid-template-columns: auto;
  padding: 24px 0 24px 24px;
  gap: 24px;
  overflow-x: hidden;
}

.cardItemList-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  background-color: var(--color-light-yellow);
  border: solid 3px var(--color-dark-orange);
  border-right: 0;
  border-radius: 100px 0 0 100px;
  transition: all 0.4s;
}

.cardItemList-mode:hover {
  background-color: var(--color-orange);
  border: solid 3px var(--color-light-yellow);
  border-right: 0;
  transform: scale(1.01);
}

.pkmnStatList-mode {
  background-color: var(--color-blue-dark-mode-section);
  gap: 12px;
  padding: 0 24px;
  color: var(--color-white);
  border-radius: 4px 0 0 4px;
  border: solid 1px var(--color-blue-dark-mode-section);
}

.pkmnResultsList-mode {
  background-color: var(--color-white);
  color: var(--color-blue-dark-mode-section);
  padding: 0px 24px;
  border-radius: 0 4px 4px 0;
  border: solid 1px var(--color-blue-dark-mode-section);
}

.pkmnStatsList-mode {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapBlock-mode {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto auto;
  padding: 0 24px 24px 24px;
  gap: 24px;
  overflow-x: hidden;
}

.cardItemBlock-mode {
  padding: 40px 24px;
  gap: 10px;
  background-color: var(--color-light-yellow);
  border: solid 3px var(--color-dark-orange);
  border-radius: 12px;
  transition: all 0.4s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardItemBlock-mode:hover {
  background-color: var(--color-orange);
  border: solid 3px var(--color-light-yellow);
  transform: scale(1.01);
}

.pkmnImageBlock-mode {
  height: 140px;
  object-fit: contain;
  width: 100%;
  background-color: var(--color-white);
  border: solid 2px var(--color-black);
  padding: 20px 0 20px 0;
  border-radius: 6px;
}
.pkmnitemBlock-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  width: 100%;
}

/* para cambiar el orden del numero id y el nombre del pokemon */

.pkmnitemBlock-mode p:nth-child(1) {
  order: 2;
}
/* */

.pkmnStatBlock-mode {
  background-color: var(--color-blue-dark-mode-section);
  gap: 12px;
  color: var(--color-white);
  padding: 0 24px;
  border-radius: 4px 4px 0 0;
  border: 0;
}

.pkmnResultsBlock-mode {
  background-color: var(--color-white);
  color: var(--color-blue-dark-mode-section);
  padding: 0px 24px;
  border-radius: 0 4px 4px 0;
  padding: 0px 24px;
  border: 0;
}

.pkmnStatsBlock-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  border: solid 1px var(--color-blue-dark-mode-section);
  border-radius: 6px;
}

.flexStats-block {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: auto auto;
  justify-items: start;
  gap: 10px;
}

.pkmnStatsBlock-mode p {
  width: 100%;
  margin: 0;
  text-align: center;
}

/* efectos */

.slide-in-bottom {
  animation-name: slide-in-bottom;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* breakpoints */

@media (max-width: 1310px) {
  .pkmnStats {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .pkmnStat {
    gap: 10px;
    padding: 0 24px;
    font-size: 14px;
  }

  .pkmnResults {
    padding: 0px 24px;
    font-size: 14px;
  }

  .pkmnStatsList-mode {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .pkmnStatList-mode {
    gap: 10px;
    padding: 0 24px;
    font-size: 14px;
  }

  .pkmnResultsList-mode {
    padding: 0px 24px;
    font-size: 14px;
  }
}

/* list mode */

@media (max-width: 989px) {
  .pkmnImage {
    width: 64px;
    height: 64px;
  }

  .pkmnNumber {
    font-size: 18px;
  }

  .pkmnName {
    font-size: 18px;
  }

  .pkmnStatList-mode {
    gap: 8px;
    padding: 0 20px;
    font-size: 14px;
  }

  .pkmnResultsList-mode {
    padding: 0px 20px;
    font-size: 14px;
  }

  .pkmnitem {
    font-size: 14px;
    gap: 8px;
  }

  .iconFav {
    padding: 18px;
  }

  .iconFav i {
    font-size: 24px;
  }

  .pkball-icon {
    width: 38px;
  }
}

@media (max-width: 855px) {
  .pkmnStatList-mode {
    font-size: 12px;
  }

  .pkmnResultsList-mode {
    font-size: 12px;
  }
  .pkmnitem {
    font-size: 16px;
  }

  .pkmnStatsList-mode p {
    margin: 0;
  }

  .pkmnResults {
    font-size: 12px;
  }

  .iconFav {
    padding: 16px;
  }
  .flexStats {
    gap: 6px;
  }
  .pkmnStatList-mode {
    font-size: 10px;
  }

  .pkmnResultsList-mode {
    font-size: 10px;
  }

  .pkmnStat {
    padding: 0 18px;
  }

  .pkmnResults {
    font-size: 10px;
    padding: 0 18px;
  }
}

@media (max-width: 795px) {
  .flexStats {
    grid-template-columns: auto;
  }
}

@media (max-width: 640px) {
  .pkmnStat {
    font-size: 10px;
    padding: 0 14px;
  }

  .pkmnResults {
    font-size: 10px;
    padding: 0 14px;
  }

  .iconFav {
    padding: 14px;
  }

  .iconFav i {
    font-size: 16px;
  }

  .pkball-icon {
    width: 24px;
  }

  .pkmnImage {
    width: 48px;
    height: 48px;
  }

  .pkmnNumber {
    font-size: 16px;
  }

  .pkmnName {
    font-size: 16px;
  }
}

@media (max-width: 598px) {
  .pkmnitem {
    width: 150px;
  }
  .pkmnNumber {
    font-size: 14px;
  }

  .pkmnName {
    font-size: 14px;
  }
  .pkmnStat {
    gap: 2px;
    padding: 0 7px;
  }
}
@media (max-width: 530px) {
  .cardItemList-mode {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-right: 0;
    border-radius: 24px 0 0 24px;
  }
  .pkmnStatsList-mode {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    border: solid 1px var(--color-blue-dark-mode-section);
    border-radius: 6px;
  }

  .pkmnStatsList-mode p {
    width: 100%;
    text-align: center;
  }
  .flexStats {
    margin-top: 12px;
    width: 100%;
    order: 5;
    gap: 6px;
    grid-template-columns: auto auto;
  }
  .pkmnStatList-mode {
    padding: 0 24px;
    border-radius: 4px 4px 0 0;
    border: 0;
  }

  .pkmnResultsList-mode {
    padding: 0px 24px;
    border-radius: 0 0 4px 4px;
    border: 0;
  }

  .pkmnitem {
    font-size: 10px;
    gap: 0px;
  }
  .iconFav {
    padding: 12px;
  }

  .iconFav i {
    font-size: 18px;
  }

  .pkmnitem {
    width: 150px;
    gap: 10px;
  }

  .pkmnImage {
    width: 36px;
    height: 36px;
  }
}

/* block mode */
@media (max-width: 1024px) {
  .pkmnImageBlock-mode {
    height: 100px;
  }
}

@media (max-width: 970px) {
  .pkmnStatBlock-mode {
    gap: 8px;
    padding: 0 20px;
    font-size: 14px;
  }

  .pkmnResultsBlock-mode {
    padding: 0px 20px;
    font-size: 14px;
  }
}

@media (max-width: 860px) {
  .pkmnImageBlock-mode {
    height: 90px;
  }
  .pkmnStatBlock-mode {
    gap: 6px;
    padding: 0 18px;
    font-size: 12px;
  }

  .wrapBlock-mode {
    grid-template-columns: auto auto;
  }

  .pkmnResultsBlock-mode {
    padding: 0px 18px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .cardItemBlock-mode {
    padding: 40px 24px;
    gap: 4px;
  }
}

@media (max-width: 630px) {
  .wrapBlock-mode {
    grid-template-columns: auto;
    justify-content: center;
  }
  .cardItemBlock-mode {
    width: 80%;
    padding: 40px 24px;
    gap: 2px;
  }
}
