@import "../style.css";

/* modo nocturno */
body.dark-theme .nav {
  background-color: var(--background-color-dark-mode-navAndCard);
  border-color: var(--color-light-yellow);
}

body.dark-theme .pokedex-name {
  background-color: var(--color-dark-blue-gray-border);
  border-color: var(--color-light-yellow);
  font-weight: 700px;
}

body.dark-theme .toggleButton-section {
  border-color: var(--color-light-yellow);
}

body.dark-theme .button-navbar {
  border-color: var(--color-light-yellow);
  background-color: var(--color-dark-blue-gray-border);
}

body.dark-theme .button-navbar:hover {
  background-color: var(--color-dark-orange);
  color: var(--color-black);
}

body.dark-theme .button-navbar--active {
  background-color: var(--color-dark-orange);
  color: var(--color-white);
}

body.dark-theme .nav_burger span {
  background-color: var(--color-light-yellow);
}

/* generales */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue-navbar);
  padding: 30px 20px;
  border-bottom: solid 3px var(--color-dark-blue-gray-border);
}

.pokedex-name {
  display: flex;
  flex-direction: row;
  background-color: rgb(114, 220, 184);
  align-items: center;
  border-radius: 50px;
  border: solid 3px var(--color-dark-blue-gray-border);
  padding: 0 24px;
  gap: 10px;
  color: var(--color-white);
  font-size: large;
  font-weight: 600;
  -webkit-text-stroke: 3px var(--color-dark-blue-gray-border);
  paint-order: stroke fill;
}

.icon {
  width: 40px;
  height: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.toggleButton-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cherrim-icon {
  width: 40px;
}

.nav_burger {
  display: none;
}

/* buttons */

.button-navbar {
  border-radius: 30px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  cursor: pointer;
  padding: 12px 24px;
  border: solid 3px var(--color-dark-blue-gray-border);
  font-weight: 500;
}

.button-navbar:hover {
  background-color: var(--color-orange);
}

.button-navbar--active {
  background-color: var(--color-orange);
  color: var(--color-black);
  border-color: var(--color-dark-blue-gray-border);
}

/* breakpoints */

@media (max-width: 920px) {
  .button-navbar {
    padding: 10px 20px;
    font-size: 18px;
  }
  .pokedex-name {
    padding: 0 20px;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 132px;
    left: 0;
    background-color: var(--color-blue-navbar);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }

  .navbar.open {
    transform: translateX(0);
    justify-content: start;
    gap: 0;
  }
  .nav-buttons {
    flex-direction: column;
    width: 100vw;
    gap: 0;
  }

  .nav_burger {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
  .nav_burger span {
    width: 30px;
    height: 4px;
    background-color: var(--color-white);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0;
    transition: all 0.2s linear;
  }
  .nav_burger.open > span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6.5px);
  }
  .nav_burger.open > span:nth-child(2) {
    opacity: 0;
  }
  .nav_burger.open > span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
  .toggleButton-section {
    border: 0;
    border-bottom: solid 3px;
    border-radius: 0;
    border-bottom-color: var(--color-dark-blue-gray-border);
    justify-content: space-between;
    width: 100%;
  }

  .button-navbar {
    padding: 32px 24px;
    border: 0;
    border-bottom: solid 3px;
    border-radius: 0;
    border-bottom-color: var(--color-dark-blue-gray-border);
    font-size: 18px;
  }
}
.cherrim-icon {
  width: 78px;
}

/* modo oscuro */

body.dark-theme .navbar.open {
  background-color: var(--background-color-dark-mode-navAndCard);
}

body.dark-theme .button-navbar {
  border-bottom: solid 3px var(--color-light-yellow);
}

body.dark-theme .toggleButton-section {
  border-bottom-color: var(--color-light-yellow);
}

@media (max-width: 720px) {
  .pokedex-name {
    padding: 0 16px;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .navbar {
    top: 124px;
  }
}

@media (max-width: 620px) {
  .pokedex-name {
    padding: 0 14px;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
  }
  .navbar {
    top: 117px;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 540px) {
  .pokedex-name {
    font-size: 16px;
    font-weight: 600;
  }
  .navbar {
    top: 110px;
  }
}

@media (max-width: 460px) {
  .pokedex-name {
    padding: 0 12px;
  }
  .pokedex-name :nth-child(3) {
    display: none;
  }
  .navbar {
    gap: 5px;
  }
}

@media (max-width: 420px) {
  .nav {
    padding: 28px 16px;
  }
  .pokedex-name {
    font-size: 12px;
  }
  .navbar {
    top: 103px;
  }
}

@media (max-width: 380px) {
  .pokedex-name {
    padding: 1px 12px;
  }
  .button-navbar {
    font-size: 14px;
  }
  .navbar {
    top: 101px;
  }
}
